+leader('Chris Pilko', 'Scoutmaster', 'chrisp.jpg')
+leader('Ben Mitchell', 'Chartered Organization Representative', '')
+leader('Cara Curley', 'Committee Chair', '')
+leader('Brendan Curley', 'Committee Member', '')
+leader('Dan McGinn', 'Committee Member', '')
+leader('Mike Pilko', 'Treasurer', '')
+leader('Mo Sharon', 'Committee Member', '')
+leader('Mike Shultz', 'Committee Member', '')
+leader('Lee Stratton', 'Committee Member', '')
+leader('Lee Zeplowitz', 'Committee Member', '')