extends _layout

block vars
  -var pageTitle = 'Page Title'
  -var pageDesc = 'A short description of this page that will show on Google & Facebook'
  -var mastheadImg ='masthead_image.jpg'

block masthead
  h1 Page heading
  p One or more subheadings

block content
  article#id
    header
      h1 Article Heading
    p Article content. This can go on for a while. There can be more than one article.
