+eventItem('Camping', 'camping.jpg')
  p We are not a club or a Sunday school class, but a school of the woods.
+eventItem('Community Involvement', 'civics.jpg')
  p We must change boys from a &lsquo;what can I get&rsquo; to a &lsquo;what can I give&rsquo; attitude.
+eventItem('Marksmanship', 'marksman.jpg')
  p The Scout is not governed by #[strong don’t], but is led by #[strong do].
+eventItem('STEM', 'stem.jpg')
  p A fisherman does not bait his hook with food he likes. He uses food the fish likes. So with Scouts.
+eventItem('Service', 'service.jpg')
  p The real way to gain happiness is to give it to others.
+eventItem('Patriotism', 'parade_marching.jpg')
  p Loyalty is a feature in a boy’s character that inspires boundless hope.
+eventItem('Winning', 'winning.jpg')
  p It is important to arrange games and competition so that all Scouts of the troop take part.
+eventItem('Learning', 'learning.jpg')
  p In Scouting, a Scout is encouraged to educate himself instead of being instructed.
+eventItem('Hiking', 'hiking.jpg')
  p Where is there a boy to whom the call of the wild and the open road does not appeal?
+eventItem('Summer Camp', 'summer_camp.jpg')
  p A week of camp life is worth six months of theoretical teaching in the meeting room.
+eventItem('Fun and Games', 'gaga.jpg')
  p Vigorous Scout games are the best form of physical education because most of them bring in moral education.
+eventItem('First Aid', 'first_aid.jpg')
  p The most important object in Boy Scout training is to educate, not instruct
