---
permalink: /404.html
---

extends _layout

block vars
  -var pageTitle = '404'
  -var pageDesc = 'Error: Resource Not Found'
  -var mastheadImg ='lost.jpg'

block masthead
  h1 You Look Lost
  p Sorry. We can't find the page you're looking for.
