+eagle('Richard Creadick', '1941')
+eagle('Howard Young', '1953')
+eagle('David Armstrong', '1955')
+eagle('Ralph Morgan', '1955')
+eagle('Donald Senges', '1955')
+eagle('Ronald Mendelzon', '1956')
+eagle('Paul Davis, Jr.', '1957')
+eagle('Wesley Bowers', '1964')
+eagle('John Paxton, Jr.', '1964')
+eagle('Gary Callahan', '1964')
+eagle('Carl Roe, Jr.', '1965')
+eagle('Robert T. Badders', '1966')
+eagle('John Mellon III', '1966')
+eagle('Robert D. Lake', '1967')
+eagle('Robert E. Paxton', '1967')
+eagle('G. Clinthicum, Jr.', '1968')
+eagle('E. Allan Roe', '1965')
+eagle('Kirk Drange', '1969')
+eagle('David B. Fitzgerald', '1970')
+eagle('Lee W. Diestelow, Jr.', '1970')
+eagle('David P. Paist', '1970')
+eagle('William S. Reamer', '1970')
+eagle('William M. Reed, Jr.', '1972')
+eagle('Thomas P. Gorham', '1973')
+eagle('Fredrick L. Null, Jr.', '1973')
+eagle('Thomas S. Morris', '1973')
+eagle('Jonathan H. Fitzgerald', '1974')
+eagle('Robert R. Gerisch', '1974')
+eagle('Michael A. Lipton', '1977')
+eagle('Christopher M. Peraino', '1983')
+eagle('Greg Cluver', '1991')
+eagle('Matthew W. Bayley', '1982')
+eagle('John H. Walter', '2013')
+eagle('Jake Maguire', '2014')
+eagle('Matthew Walter', '2015')
+eagle('Nicholas Marcellino', '2016')
+eagle('Joseph Fino', '2016')
