+leader('Chris Pilko', 'Scoutmaster', 'chrisp.jpg')
+leader('Joe Arico', 'Chartered Organization Representative', 'joea.jpg')
+leader('Beth Haney', 'Committee Chair', '')
+leader('Mike Maguire', 'Assistant Scoutmaster', '')
+leader('Wayne Haney', 'Committee Member', '')
+leader('Nick Marcellino', 'Treasurer', 'nickm.jpg')
+leader('Open', 'Advancement Chair', '')
+leader('Heather LaPierre', 'Merit Badge Counselor', '')
