ul
  li: a(href='/') Home
  li: a(href='about') About
  li: a(href='events') Events
  li: a(href='join') Join
  li: a(href='support') Support
  li: a(href='contact') Contact
  li: a(href='sitemap') &#x2630;
