extends _layout

block vars
  -var pageTitle = 'About'
  -var pageDesc = 'About Troop 151'
  -var mastheadImg ='masthead_about.jpg'

block masthead
  h1 About Troop 151

block content
  article#mission
    heading
      h1 Mission and Values
  article#history
    heading
      h1 History
  article#leadership
    heading
      h1 Leadership
  article#eagles
    heading
      h1 Eagles Nest
