extends _layout

block vars
  -var pageTitle = 'About'
  -var pageDesc = 'About Troop 151'
  -var mastheadImg ='masthead_about.jpg'

block masthead
  h1 About Troop 151

block content
  h1 Our Mission
  h1 Our Values
  h1 History
  h1 Leadership
  h1 Eagles Nest
