extends _layout

block vars
  -var pageTitle = 'About'
  -var pageDesc = 'About Troop 151'
  -var mastheadImgUrl ='/img/masthead_about.jpg'

block masthead
  h1 About Troop 151

block content
  h3 Our Mission
  h3 Our Values
  h3 History
  h3 Eagles Nest
