extends _layout

block content
  article #masthead
    header
      h1 Troop 151, Broomall PA
      h2 A Scout Lead Troop Chartered to Marple Presbyterian Church
  include about.jade
  include events.jade
  include join.jade
  incldue support.jade
  include contact.jade


  h3 Welcome to roots!
  :marked
    Find tutorials and documentation at http://roots.cx : )
