extends _layout

mixin linkbutton(link, text)
  .more-div
    span.more-wrap
      a(href=link, class='more-button')= text

block vars
  -var pageTitle = 'Home'
  -var pageDesc = 'Troop 151, Broomall PA'

block masthead
  article#masthead
    header
      h1 Troop 151, Broomall PA
      p A Scout-Led Troop
      p Chartered to Marple Presbyterian Church

block content
  article#about.home-article
    header
      h3 About Us
    .col-wrap
      #meetings.col-thirds
        p We meet Wednesday nights at 7pm during the school year.
      #location.col-thirds
        p.
          Our meetings are in Fellowship Hall at Marple Presbyterian Church
          (#[a(href='https://www.google.com/maps/place/Marple+Presbyterian+Church/@39.9850625,-75.3606328,17z/data=!4m5!3m4!1s0x89c6ea8a1e73155f:0xd1515550b1534517!8m2!3d39.9850625!4d-75.3584441', target='_blank') Map])
      #scoutled.col-thirds
        p Our Scouts choose the program, and the leaders help them make it happen. Our goal is to have one outing each month.
    +linkbutton('about', 'Learn More')

  article#events.home-article
    header
      h3 Sample Events
    .col-wrap
      .event-gallery

    article#leadership.home-article
      header
        h3 Our Leaders
      p Todo: Build mixin to display leaders.

  article#contact.home-article
    header
      h3 Contact Us
    .form
      p Todo: Contact form
