extends _layout

block vars
  -var pageTitle = 'Tools and Resources'
  -var pageDesc = 'Links to forms, websites, and resources that help make Troop 151 go'
  -var mastheadImg ='tools.jpg'

block masthead
  h1 Tools and Resources
  p The forms, websites and other resources that help things go.

block content
  .prose-page
    #toc.toc
      h1 Table of Contents
      ul
        li: a(href='#essentials') Essentials
        li: a(href='#training') Training and Background Checks
        li: a(href='#trips') Trip planning and Packing
        li: a(href='#others') Other councils and websites

    #essentials.tool-section
      h1 Essentials
      h2 The most frequently used resources are here.
      dl
        dt: a(href='https://www.scoutbook.com/mobile' target='_blank') Scoutbook
        dd Scoutbook is our tool that manages advancement, finances and our calendar. A login is required.
        dt: a(href='https://www.scoutbook.com/mobile/references/boy-scouting/' target='blank') Requirements
        dd BSA requirements for all ranks, awards, and merit badges. This is also on Scoutbook.
        dt: a(href='http://my.scouting.org' target='_blank') myScouting Tools
        dd.
          The main portal of the BSA. Take YPT and other training here. There are other
          tools that will show depending on your official position in the BSA.
        dt: a(href='http://www.scouting.org/scoutsource/HealthandSafety/ahmr.aspx' target='_blank') BSA Medical Forms
        dd.
          Medical forms are required for all participants at Scouting events. Forms are valid for
          one year.
        dd.
          The link above has the different medical forms for each class of event, and
          a description of when you need each one.
        dt: a(href='http://scoutstuff.com/' target='_blank') The Scout Shop
        dd.
          Online home of the BSA's official supply division.
        dt: a(href='http://colbsa.org' target='_blank') Cradle of Liberty Council
        dd.
          Our Council's homepage, with information about what is going on in our local
          Scouting community.
        dt: a(href='https://www.facebook.com/groups/Troop151Broomall/' target='_blank') Facebook Group
        dd.
          The Troop 151 Facebook group. This is a closed group for current members only.
        dt: a(href='https://github.com/cpilko/Troop151/' target='_blank') GitHub
        dd.
          GitHub hosts this website, and some other documents.

    #training.tool-section
      h1 Training Resources
      h2 Training resources and background check information.
      h2 To be a Volunteer in the BSA, you need all of the following:
      dl
        dt Youth Protection Training
        dd.
          YPT is required every two years. To take this, login to
          #[a(href='http://my.scouting.org' target='_blank') myScouting.org].
          There is a large, red link for YPT on the home screen.
        dt PA Criminal Background Checks
        dd.
          Complete this on the #[a(href='https://epatch.state.pa.us/Home.jsp' target='_blank') ePATCH]
          website. Required every 3 years for all volunteers who work with youth in PA.
        dd Free.
        dt PA Child Abuse Clearance
        dd.
          Complete this on the #[a(href='https://www.compass.state.pa.us/cwis/public/home' target=_blank) CWIS]
          website. Required every 3 years for all volunteers who work with youth in PA.
        dd Free.
        dt FBI Fingerprint Check
        dd.
          Only required if you have not been a resident of PA for the last 10 years, but
          most school districts require it for all volunteers. Begin the process online
          at the #[a(href='https://www.pa.cogentid.com/index_dpwNew.htm' target='blank') Cogent]
          website.
        dd Fingerprint checks are done at UPS stores. There is a list when you register.
        dd Fee is $28 and must be paid online.
        dt Disclosure Statement
        dd.
          Complete #[a(href='http://keepkidssafe.pa.gov/cs/groups/webcontent/documents/document/c_160267.pdf') this disclosure statement]
          and submit this with your paperwork.
        dt Upload to the COL Website
        dd.
          After you receive PDF certificates for all the above items,
          #[a(href='http://ow.ly/MBGOE' target='_blank') upload them here]. This sends
          them to the Cradle of Liberty Council who needs to keep them on record.
        dt Email to Marple Pres
        dd.
          Marple Pres "owns" our troop, so they need a copy too.
        dt Position Specific Training
        dd.
          To remain on the charter in our Council, you must be fully trained for
          your position according to the BSA. Login to #[a(href='http://my.scouting.org' target='_blank') myScouting.org]
          and visit "My Dashboard" to review your current training status, and take the online courses you need.
        dd Some courses require in-person training.
        dt PA Mandated Reporter Training
        dd.
          In certain people who work with youth have been nominated as "Mandated Reporters" &emdash;
          meaning there are civil and criminal penalties if you witness an
          act of child abuse and fail to report it.
        dd.
          Most Scouting volunteers qualify as mandated reporters. Others are "Permissive Reporters."
        dd.
          Want to know what is expected of you as a mandated or permissive reporter?
          Take #[a(href='https://www.reportabusepa.pitt.edu/webapps/portal/execute/tabs/tabAction?tab_tab_group_id=_2_1' target='_blank') Mandated Reporter Training].
        dd The course is free, but takes about 3 hours.

    #trips.tool-section
      h1 Trip Planning and Packing
      p TODO create content for trip planning and packing

    #others.tool-section
      h1 Other Resources and Websites
      p TODO create content for other resources and websites
