extends _layout

block vars
  -var pageTitle = 'Terms and Condtions'
  -var pageDesc = 'The terms and conditions of accessing the Troop 151 Website, including the Privacy Policy'
  -var mastheadImg ='terms.jpg'

block masthead
  h1 Website Terms
  p Terms and Conditions and Privacy Policy

block content
  .prose-page
    #toc.toc
      h1 Table of Contents
      ul
        li: a(href='#terms') Terms and Conditions
        li: a(href='#privacy') Privacy Policy
        li: a(href='#copyright') Copyright

    #terms.terms-section
      h1 Terms and Conditions
      p TODO: Write T&C

    #privacy.terms-section
      h1 Privacy Policy
      p TODO: Write privacy policy

    #copyright.terms-section
      h1 Copyright
      p TODO: Write copyright section
