footer#footer
  .col-wrap
    .col-thirds
      img(src='./img/fleurdelis_white.png').foot-img
      a(href='https://my.bsa.us/525taa0151mb' target='_blank').join-button Join Now
    .col-thirds
      h4 Troop 151, BSA
      p: a(href='http://cubpack151.org/' target='_blank') Pack 151
      p Crew 151
      h4 Chartered To
      p: a(href='http://marplepres.org/' target='_blank') Marple Presbyterian Church
      p 150 North Sproul Road
      p Broomall, PA 19008
      h4 Affiliated With
      p: a(href='http://colbsa.org/constellation/') Constellation District
      p: a(href='http://colbsa.org/' target='_blank') Cradle of Liberty Council
      p: a(href='http://scouting.org/' target='_blank') Boy Scouts of America
    .col-thirds
      h4 Site Map
      ul.foot-nav
        li: a(href='./index.html') Home
        li: a(href='./about.html') About Us
        li: a(href='./resources.html') Tools and Resources
        li: a(href='./terms.html') Terms and Privacy Policy
  .foot-end
    p &copy;2019 Troop 151
