@import '_settings'
@import 'jeet'
@import '_colors'

normalize-css()
base()

lt_color = scoutingRed
lt_text_color = white
dk_color = scoutingBlue
dk_text_color = white
hf_bg_color = #222
hf_text_color = white

body
  padding 0
  margin-top 0
  background-color Gainsboro

#top_nav
  top 0px
  nav(1, hf_bg_color, hf_text_color, true)
  a
    text-decoration: none
  h1
    margin 0

#main
  margin-top 43px
  padding-left auto
  padding-right auto

#masthead
  height 80vh
  width 100%
  padding-top 6em
  background no-repeat center/cover LightSlateGray
  color hf_text_color
  text-shadow 0.1em 0.1em 0.2em black
  text-align center
  text-transform uppercase
  p
    font-style italic
    text-transform none
    font-size 150%
  h1
    font-size 3em

article header
  text-align center
  text-transform uppercase
  color hf_bg_color
  h1
    font-size 3em

article
  min-height 100vh
  padding-top 20vh
  padding-right 2.5%
  padding-left 2.5%
  padding-bottom 3em

article + article
  border-top 2vh solid dk_color

.col-thirds
  col(1/3)
  img
    max-width 200px
    width 80%
    display block
    margin 0 auto
  p
    text-align: justify

.event-gallery
  col(1/3, cycle: 3)
  height 60vh
  position relative
  margin-bottom 1.5em
  img
    width 100%
    height 100%
    object-fit cover
    position absolute
    top 0
    left 0
    z-index 1
  .background-shade
    position absolute
    bottom 0
    width 100%
    height 30%
    background-color alpha(lt_color, 0.7)
    border-top 1em solid alpha(dk_color, 0.7)
    margin 0
    padding 0
    z-index 2
  .event-desc
    color lt_text_color
    margin 0
    padding 0.5em
  h4
    margin 0
  p
    margin 0.5em 0 0 0
    font-style italic
    font-size 0.9em
    text-align justify
  p:before
    content open-quote
  p:after
    content close-quote

.events-foot
  font-style: italic
  display: table
  margin 0 auto
  color dk_color

.col-wrap
  cf()
  margin-bottom 1em

.more-div
  cf()

.more-wrap
  display table
  margin 0 auto

.more-button
  button(lt_color, large, lt_text_color)

.formcol
  col(1/2)

#contact-form
  .form
    margin-top 0.7em
  +html5-inputs()
    input(dk_color, 95%)
    font-size 115%
  label
    label(block)
  input[type=submit]
    cf()
    button(dk_color, large, dk_text_color)
    margin 0 auto
    display table
  textarea
    height 170px

footer
  background-color hf_bg_color
  min-height 50vh
  color hf_text_color
  padding 5vh 0
  h4
    margin-bottom 0.75em
  p
    margin 0.5em 1em
  a
    color hf_text_color
    text-decoration none
    hover-color lt_color true
  ul
    ul none
    padding-left 0

.join-button
  button(lt_color, large, lt_text_color)
  display table
  margin 1em auto

.foot-img
    margin-top 1.33em !important

.foot-end
  display table
  margin 2em auto
  padding 0 3em
  border-top solid 1px hf_text_color
