@import '_settings'
@import 'jeet'

normalize-css()
base()

body
  padding 0
  margin-top 0

#top_nav
  top 0px
  nav(1, #222, white, true)
  a
    text-decoration: none
  h1
    margin 0

#main
  margin-top 43px
  padding-left auto
  padding-right auto

article header
  text-align center
  text-transform uppercase

#home-masthead
  height 80vh
  width 100%
  padding-top 6em
  background no-repeat center/cover url(/img/masthead_img.jpg)
  color white
  text-shadow 0.1em 0.1em 0.2em black
  p
    font-style italic
    text-transform none

.home-article
  min-height 100vh
  padding-top 20vh
  padding-right 2.5%
  padding-left 2.5%
  h3
    font-size 3em

#about
  background-color #FFEDAA

#events
  background-color #FFDDAA

#leadership
  background-color #FFFEAA

#contact
  background-color #AAA1E2

.col-thirds
  col(1/3)
  img
    max-width 200px
    width 80%
    display block
    margin 0 auto
  p
    text-align: justify

.col-wrap
  cf()

.more-div
  cf()

.more-wrap
  display table
  margin 0 auto

.more-button
  button(red, large, white)
