extends _partials/_layout

block vars
  -var pageTitle = 'Support Troop 151'
  -var pageDesc = 'Your generosity helps support Troop 151.'
  -var pageFile = "support"
  -var mastheadImg ='support.jpg'

block masthead
  h1 Support Troop 151

block content
  article#top
    include:markdown-it ../content_files/support.md

    article#tips-jar
      include:markdown-it ../content_files/tip-jar.md

