extends partials/_layout

block vars
  -var pageTitle = 'Poinsettias'
  -var pageDesc = 'Troop 151 Annual Poinsettia Sale'
  -var mastheadImg ='poinsettia.jpg'
  -var scripts = 'foxycart'

block masthead
  h1 Poinsettia Fundraiser

block content
  article#top
    header
      h1 Thank You For Your Support
    p ToDo: Write Intro
    br
    p This year, we are selling
    ul
      li: a(href='#poinsettias') Poinsettias
      li: a(href='#wreaths') Wreaths
      li: a(href='#cemetery') Cemetery Decorations
      li: a(href='#decor') Home Decor
    p Orders are due by November 15. 
    p Orders will be availabe for pickup on Wednesday, December 4th from Marple Presbyterian Church.
    
  article#poinsettias
    header
      h1 Poinsettias
    +foxyitem('6in Poinsettia', 10, 'img/xmas/poinsettia-red.jpg', 'P6', 'color', 'Red', 'White', 'Pink', 'Marble')
      ul
        li One poinsettia plant in a 6 inch pot. 
        li Stands about 10 inches tall. 
        li Pot is foil covered.
        li Choose Red (pictured), White, Pink or Marble Flowers
    +foxyitem('7in Poinsettia', 15, 'img/xmas/poinsettia-white.jpg', 'P7', 'color', 'Red', 'White', 'Pink', 'Marble')
      ul
        li Two poinsettia plants in a 7-&frac12; inch pot. 
        li Stands about 14 inches tall. 
        li Pot is foil covered.
        li Choose Red, White (pictured), Pink or Marble Flowers
    +foxyitem('8in Poinsettia', 20, 'img/xmas/poinsettia-pink.jpg', 'P8', 'color', 'Red', 'White', 'Pink', 'Marble')
      ul
        li Three poinsettia plants in a 8-&frac12; inch pot. 
        li Stands about 18 inches tall. 
        li Pot is foil covered.
        li Choose Red, White, Pink (pictured) or Marble Flowers
    +foxyitem('10in Poinsettia', 25, 'img/xmas/poinsettia-marble.jpg', 'P10', 'color', 'Red', 'White', 'Pink', 'Marble')
      ul
        li Four poinsettia plants in a 10 inch pot. 
        li Stands about 30 inches tall. 
        li Pot is foil covered.
        li Choose Red, White, Pink or Marble (pictured) Flowers
        
  article#wreaths
    header
      h1 Wreaths
    +foxyitem('Plain Wreath', 15, 'img/xmas/wreath-plain.jpg', 'WP')
      ul
        li 22 inch diameter, single-faced live frazer fir wreath
        li Plain to accept your decorations
    +foxyitem('Plain Wreath with Bow', 17, 'img/xmas/wreath-bow.jpg', 'WB', 'bow color', 'red', 'burgandy', 'plaid')
      ul
        li 22 inch diameter, single-faced live frazer fir wreath
        li Plain with a bow
        li Choose a Red Velvet (pictured), Burgandy Velvet or Plaid Bow
    +foxyitem('Decorated Wreath', 20, 'img/xmas/wreath-decorated.jpg', 'WD', 'bow color', 'red', 'burgandy', 'plaid')
      ul
        li 22 inch diameter, single-faced live frazer fir wreath
        li Decorated with Bow, Pine Cones and Berries
        li Wreaths are made so bows can be displayed either Top, Bottom or Side
        li Choose a Red Velvet, Burgandy Velvet or Plaid (pictured) Bow
    +foxyitem('Fancy Wreath', 22.5, 'img/xmas/wreath-fancy.jpg', 'WF', 'bow color', 'gold', 'red', 'burgandy')
      ul
        li 22 inch diameter, single-faced live frazer fir wreath
        li Decorated with Bow w/streamers, Glitter, Gold Pine Cones and Glass Balls
        li Choose a Gold, Red Velvet, or Burgandy Velvet (pictured) Bow
        
  article#cemetery
    header
      h1 Cemetery Decorations
    +foxyitem('Cemetery Log', 17, 'img/xmas/cemetery-log.jpg', 'CL')
      ul
        li 12 inch Log with a 18-20 inch spray & Balsam Fir decorated with a Red Bow, Pine Cones, White Sticks and Red Ruscus
        li Handmade with live Balsam Fir
        li All decorations are waterproof
    +foxyitem('Small Grave Blanket', 21, 'img/xmas/small-grave-blanket.jpg', 'GB-S')
      ul
        li Approx. 3ft. x 2.5ft. 
        li Balsam Fir with a Red Bow, Pine Cones, White Sticks and Red Ruscus
        li Handmade with live Balsam Fir
        li All decorations are waterproof
    +foxyitem('Large Grave Blanket', 26, 'img/xmas/large-grave-blanket.jpg', 'GB-L')
      ul
        li Approx. 3ft. x 5ft. 
        li Balsam Fir with a Red Bow, Pine Cones, White Sticks and Red Ruscus
        li Handmade with live Balsam Fir
        li All decorations are waterproof  
    +foxyitem('Deluxe Grave Blanket', 28, 'img/xmas/deluxe-grave-blanket.jpg', 'GB-D')
      ul
        li Approx. 3ft. x 5ft. 
        li Balsam Fir with a Red Bow, Pine Cones, Statis, Red Ruscus and White Fern Leaves
        li Handmade with live Balsam Fir
        li All decorations are waterproof  
        
  article#decor
    header
      h1 Home Decor
    +foxyitem('White Pine Roping', 25, 'img/xmas/white-pine-roping.jpg', 'WPR')
      ul
        li 75 feet of white pine roping for all your decorating needs.
        li It's a lot of roping. Plan to give some to your friends.
