extends partials/_layout

block vars
  -var pageFile = 'thankyou'
  -var pageTitle = 'Thank You'
  -var pageDesc = 'Thank You for contacting Troop 151'
  -var mastheadImg ='waterfall.jpg'

block masthead
  h1 Thank You
  p for your message.
  p Someone will reply to you shortly.

block content
